#image-grid {
  height: 100%;
  aspect-ratio: 1 / 1;
}

#profile-images {
  height: 368px;
  aspect-ratio: 2 / 1;
  align-items: center;
  display: flex;
  margin: auto;
}

#profile-images #main-image {
  height: 99%;
  border-radius: 10px;
  margin-right: 2px;
}

#profile-images .ReactGridGallery_tile-viewport {
  border-radius: 10px;
}

.ReactGridGallery_tile {
  background: gainsboro !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: gainsboro;
}

#profile-page-container {
  display: flex;
  flex-direction: column;
}

#profile-page {
  width: min-content;
  margin: auto;
}

#profile-page h1 {
  margin-bottom: 0;
}

#profile-page hr {
  margin: 16px 0;
}

#profile-page #bio {
  width: 75%;
  margin: 0;
}

#profile-banner p {
  margin: 0 16px 16px 0;
  color: #8f8f8f;
}

#profile-banner {
  display: flex;
}
