#image-grid {
  height: 100%;
  aspect-ratio: 1 / 1;
}

#profile-images {
  height: 368px;
  aspect-ratio: 2 / 1;
  align-items: center;
  display: flex;
  margin: auto;
}

#profile-images #main-image {
  height: 99%;
  border-radius: 10px;
  margin-right: 2px;
}

#profile-images .ReactGridGallery_tile-viewport {
  border-radius: 10px;
}

.ReactGridGallery_tile {
  background: gainsboro !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: gainsboro;
}

#profile-page-container {
  display: flex;
  flex-direction: column;
}

#profile-page {
  width: min-content;
  margin: auto;
}

#bio-container h1 {
  margin-bottom: 0;
}

#profile-page hr {
  margin: 16px 0 0;
}

#bio-container #bio {
  width: 75%;
  margin: 0;
}

#profile-banner p {
  margin: 0 16px 16px 0;
  color: #8f8f8f;
}

#profile-banner {
  display: flex;
}

#bio-container button {
  all: unset;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  height: min-content;
  padding: 15px 10px;
  width: 15%;
  text-align: center;
  margin: 20px auto;
}

#bio-container button:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#bio-container {
  display: flex;
}
