body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: gainsboro;
}

#profile-page-container {
  display: flex;
  flex-direction: column;
}

#profile-page {
  width: min-content;
  margin: auto;
}

#profile-page h1 {
  margin-bottom: 0;
}

#profile-page hr {
  margin: 16px 0 0;
}

#bio-container #bio {
  width: 75%;
  margin: 0;
}

#profile-banner p {
  margin: 0 16px 16px 0;
  color: #8f8f8f;
}

#profile-banner {
  display: flex;
}

#bio-container button {
  all: unset;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: min-content;
  padding: 15px 10px;
  text-align: center;
  margin: 20px 0;
  width: 110px;
}

#bio-container button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#bio-container button:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#bio-container {
  display: flex;
}

#buttons-column .socials-box {
  background-color: white;
}

#buttons-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.swiper {
  width: 500px;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#image-swiper-container {
  border-radius: 10px;
  overflow: hidden;
}
