.profile-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  width: 250px;
  height: min-content;
  background-color: white;
}

.profile-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-card p {
  color: #8f8f8f;
  margin: 3px 0;
}

.profile-card h3 {
  margin: 10px 0;
}

#profile-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.socials-box {
  display: flex;
  height: 30px;
  width: min-content;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.socials-box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.socials-box:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.socials-box img {
  height: 100%;
  margin-right: 5px;
}

.socials-container {
  margin-top: 10px;
}
