.blog-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 15px 15px 10px;
    margin: 15px;
    cursor: pointer;
    width: 250px;
    height: min-content;
    border: 2px solid #6029a1;
    background-color: white;

    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}