#mobile-view {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right bottom, #491f7b, #8238da);
  display: flex;
  flex-direction: column;
  color: white;
}

#mobile-header {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 50px auto 25px;
}

#mobile-header img {
  height: 100%;
  margin-right: 10px;
}

#mobile-view p {
  width: 50%;
  margin: 50px auto;
  text-align: center;
  font-size: 25px;
}
