#chat-nav {
  width: 30%;
  height: 100%;
  border-right: 1px solid #a5a5a5;
}

#chat-nav #chat-nav-header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #a5a5a5;
  height: 50px;
  align-items: center;
}

#chat-nav #chat-nav-header h1 {
  font-size: 25px;
  margin: 0 0 0 10px;
}

#chat-nav .chat-selector {
  display: flex;
  height: min-content;
  border-bottom: 1px solid #a5a5a5;
  padding: 10px;
}

#chat-nav .chat-selector:hover {
  background-color: #e5e5e5;
}

#chat-nav .chat-selector:active {
  background-color: #d5d5d5;
}

#chat-nav .chat-selector img {
  width: 75px;
  height: 75px;
  border-radius: 20px;
  border: 1px solid black;
}

.chat-text-display {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  overflow: hidden;
}

.chat-text-display .names {
  display: flex;
}

.chat-text-display .names h1 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  display: inline-block;
}

.chat-text-display .names p {
  font-size: 17px;
  font-weight: 400;
  margin: 0 0 0 5px;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-text-display .recent-msg {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: gray;
  margin: 8px 0 0 0;
}

.msg-timestamp {
  color: gray;
  margin: 0;
}
