#nav-bar {
  display: flex;
  height: 13vh;
  align-items: center;
  border-bottom: 1px solid #a5a5a5;
  margin: 0 100px;
}

#nav-bar #logo {
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#nav-bar #logo h1 {
  margin-left: 10px;
  color: #491f7b;
}

#account-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#account-indicator p {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 500px;
}

#account-indicator button {
  padding: 14px 40px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: #33adf9;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

#account-indicator button:hover {
  background-color: #1da1f2;
}

#account-indicator button:active {
  background-color: #1576b3;
}

#filters-button {
  font-size: 30px;
  margin: auto 10px;
}

#search-form-expansion {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #dddddd;
  border-radius: 15px;
  background-color: white;
  display: flex;
  align-items: center;
}

#search-form-expansion.expanded {
  width: 344px;
  height: 300px;
  display: block;
  z-index: 100000;
}

.search-input {
  all: unset;
  padding: 0 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #dddddd;
  margin: 10px;
}

#search-bar {
  height: 50px;
  width: -webkit-fill-available;
  border-radius: 15px;
}

#search-form {
  position: relative;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #dddddd;
  border-radius: 20px;
}

#search-form-banner {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  cursor: pointer;
  width: 320px;
}

#search-form-banner p {
  font-weight: bold;
  margin: 0;
  padding: 0 10px;
  border-right: 2px solid #dddddd;
  user-select: none;
}

#search-form-banner i {
  margin-left: 12px;
  font-size: 23px;
}

#filters-header > * {
  margin: 0 0 0 10px;
}

#search-sub-input {
  height: 30px;
  border-radius: 10px;
  width: 110px;
}

.filter-row {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.filter-row button {
  padding: 0 5px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: #33adf9;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
}
