#footer {
  background-color: #f3f3f3;
  display: flex;
  padding: 20px 0;
  border-top: 2px solid #6029a1;
  transform: translateY(-2px);
}

#links-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#links-container a {
  all: unset;
  cursor: pointer;
  margin-top: 10px;
}

#copyright-statement {
  margin: 0 40px;
  color: #a7aaa8;
}

#links-container > div {
  padding-right: 300px;
  display: flex;
  flex-direction: column;
}

.footer-p {
  font-weight: bold;
  margin: 0;
  text-wrap: nowrap;
}

#footer svg {
  margin-left: -8px;
  cursor: pointer;
}
